@import "tailwindcss";

:root {
  --background: #fbfcfc;
  --foreground: #1f1f1f;
  --blue: #4064d7;
  --accent: #f9f5eb;
}

.absolute-center {
  @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2;
}

.gradient {
  @apply bg-gradient-to-r from-blue to-black text-transparent bg-clip-text;
}

@utility container {
  padding: 1rem;
  margin-inline: auto;
}

@utility shadow-lg {
  box-shadow: 0 4px 14px #3535640d;
}

@theme inline {
  --color-white: var(--background);
  --color-black: var(--foreground);
  --color-blue: var(--blue);
  --color-accent: var(--accent);
  --font-gelion: var(--font-gelion);
  --font-humanist: var(--font-humanist);
  --animate-move-left: move-left 1s linear infinite;
  --animate-move-right: move-right 1s linear infinite;

  @keyframes move-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }

  @keyframes move-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
